.yashare-auto-init.b-share_theme_counter {
  margin: 10px 0 0;
}

#ytShownotesWrapper {
  margin: 0 auto;
  width: 854px;
}

.has-feedback .form-control-feedback {
  top: 0;
}

footer {
  margin: 100px 0 20px;
}